
@{
    ViewBag.Title = "Index";
}

<h2>Pagina de inicio de administración</h2>

<p>En esta página se colocaran todos los elementos de administración.</p>

@Html.ActionLink("Volver al index fuera del admin", "Index", "Home")