
@{
    ViewBag.Title = "Noticias";
}

<h2>Gestion Noticias</h2>

<div class="container">
    <div class="jumbotron">
        <h1 class="success">@ViewBag.MENSAJE</h1>
        @if (Request.Cookies.Get("usr") != null)
        {
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <a class="button" href="/Noticias/insertar"><button class="btn btn-default btn-block">Insertar nuevo Video</button></a>
            </div>
            <div class="col-xs-12 col-sm-6">
                <a class="button" href="/Noticias/ver"><button class="btn btn-default btn-block">Ver Videos</button></a>
            </div>
        </div>
        } else
        {
            <h1>Muestra de noticias</h1>
        }


    </div>
</div>

