body {
    padding-top: 50px;
    padding-bottom: 20px;
    color:navajowhite !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.jumbotron {
    background-color: #222;
    border-color: #080808;
}



/*
####    Personalizo el nav-bar del layout   ####
*/

.navbar-header a {
    font-family: 'Dancing Script';
    font-size: 3em;
    color:navajowhite !important;

}

.navbar-header a:hover {
    color:orangered !important;
    transition-duration:0.9s;
}

.navbar-nav a {
    transition-duration:0.9s;
    color:navajowhite !important;
}

.navbar-nav a:hover {
    color:orangered !important;
    transition-duration:0.9s;
    background-color: rgba(51,51,51,0.7) !important;
    
}

.active a{
    background-color: rgba(51,51,51,0.5) !important;
    color:navajowhite !important;color:navajowhite !important;
    
}
.navbar {
    
    /*background: url("http://colourlovers.com.s3.amazonaws.com/images/patterns/5487/5487714.png?1478301139"); 
    background-size:10%;*/
    width: auto; 
    height: auto;
}


/*
####    Personalizo los botones   ####
*/
.btn-default {
    background-color: rgba(51,51,51,0.5) !important;
    color:navajowhite !important;
}
.btn-default:hover {
    color:orangered !important;
    background-color: rgba(51,51,51,0.9) !important;
}
.button {
    text-decoration:none;
}
.button:hover {
    text-decoration:none;
}







/*
####    Personalizo los formularios   ####
*/

.form-control:focus {
    border-color: navajowhite !important;
}
 .form-control {
     max-width:500px;
     width:100%;
 }


