
@{
    ViewBag.Title = "CrearEF";
}

<h2>CrearEF</h2>

<h2>Nuevo empleado</h2>
<form method="post" action="" id="form-editar" class="input-wrapper green-gradient glossy" title="Editar">
    <ul class="inputs black-input large">
        <li><span class="icon-lock mid-margin-right"></span><input type="text" name="Apellido" id="Apellido" value="" class="input-unstyled" placeholder="Apellido" autocomplete="off"></li>
        <li><span class="icon-lock mid-margin-right"></span><input type="text" name="Nombre" id="Nombre" value="" class="input-unstyled" placeholder="Nombre" autocomplete="off"></li>
    </ul>

    <button type="submit" class="button glossy full-width" id="send-editar">Nuevo empleado</button>

</form>
