
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@{
    ViewBag.Title = "Filtrar empleados";
}

<div>
    <form method="post" action="" id="form-filtro" title="filtro">
        <p class="message">
            ¿datos del filtro? Rellena los datos
        </p>
        <input type="text" name="Apellido" id="Apellido" value="" placeholder="Apellildo" />
        <input type="text" name="Nombre" id="Nombre" value="" placeholder="Nombre" />
        <button type="submit">Consultar por filtro</button>
    </form>
</div> 
