
@{
    ViewBag.Title = "Login";
}

<h2>Loguearse como como:</h2>

<div class="container">
    <div class="jumbotron">

        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <a class="button" href="/Login/webuser"><button class="btn btn-default btn-block">Ingresar WebUsers</button></a>
            </div>
            <div class="col-xs-12 col-sm-6">
                <a class="button" href="/Login/empresa"><button class="btn btn-default btn-block">Ingresar Empresa</button></a>
            </div>
        </div>

    </div>
</div>
