
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<div class="container">
    <div class="jumbotron">
        <form action="" method="post" class="form-horizontal title="Login WebUser">
            <div class="row form-group">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                    <div class="col-xs-12 col-sm-6">
                        Nickname: <input type="text" class="form-control" name="nick" id="nick" value="" placeholder="Nickname" />
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        Password: <input type="password" class="form-control" name="pass" id="pass" value="" placeholder="Password" />
                    </div>
                    
                        Recordarme: <input type="checkbox" class="form-control" name="recordar" id="recordar" value="1" />
                   
                </div>
            </div>
            <div class="row form-group">
                <div class="col-xs-12 col-sm-6 col-sm-offset-4">
                    <input type="submit" class="btn btn-default btn-block" value="Entrar" />
                    <input type="button" class="btn btn-default btn-block" onClick="history.back()" value="Volver" />

                </div>
            </div>
        </form>
    </div>
</div>

