
@{
    ViewBag.Title = "Registro";
}

<h2>Registrarse como:</h2>

<div class="container">
    <div class="jumbotron">
        <h1>@ViewBag.MENSAJE</h1>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <a class="button" href="/Formulario/webuser"><button class="btn btn-default btn-block">Ingresar WebUsers</button></a>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <a class="button" href="/Formulario/empresa"><button class="btn btn-default btn-block">Ingresar Empresa</button></a>
                </div>
            </div>
      
    </div>
</div>
