
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<a href="/Formulario/webuser"><button class=" btn btn-success">Ingresar WebUsers</button></a>
<a href="/Formulario/empresa"><button class=" btn btn-success">Ingresar Empresa</button></a>