
@{
    ViewBag.Title = "paginaError";
}

<h2>Se ha producido un error</h2>

<div class="container">
    <p class="warning text-danger">Se ha producido un error con el siguiente mensaje</p>

    <p>
        @ViewBag.MENSAJE
    </p>

</div>

