
@{
    ViewBag.Title = "webuser";
}

<h2>Registro de usuarios</h2>

<div class="container">
    <div class="jumbotron">
        <form action="" method="post" class="form-horizontal" title="Nuevo WebUser">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    Nickname: <input type="text" class="form-control" name="nick" id="nick" value="" placeholder="Nickname"/>
                </div>
                <div class="col-xs-12 col-sm-6">
                    Password: <input type="password" class="form-control" name="pass" id="pass" value="" placeholder="Password" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    Nombre: <input type="text" class="form-control" name="nombre" id="nombre" value="" placeholder="Nombre" />

                </div>
                <div class="col-xs-12 col-sm-6">
                    Apellidos: <input type="text" class="form-control" name="apellido" id="apellido" value="" placeholder="Apellido" />

                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    E-mail: <input type="email" class="form-control" name="mail" id="mail" value="" placeholder="example@domain.com" />

                </div>
                <div class="col-xs-12 col-sm-6">
                    Fecha de nacimiento: <input type="date" class="form-control" name="fecha" id="fecha" value="" placeholder="" />

                </div>
            </div>
           
            
                <div class="form-group">
                    <label>
                        Sexo:<br />
                        <label>Hombre: <input type="radio" class="radio-inline" name="sexo" value="Hombre" /><br /></label>
                       <label> Mujer: <input type="radio" class="radio-inline" name="sexo" value="Mujer"  /><br /></label>
                        <label>Indiferente: <input type="radio" class="radio-inline" name="sexo" value="Indefinido"/><br /></label>
                    </label>
                
                </div>
                <input type="submit" class="btn btn-default" value="Enviar" />
                <input type="reset" class="btn btn-default" value="Vaciar" />
                <input type="button" class="btn btn-default" onClick="history.back()" value="Volver"/>
        </form>

    

    </div>
</div>
