
@{
    ViewBag.Title = "Videos";
}

<h2>Gestion Videos</h2>

<div class="container">
    <div class="jumbotron">
        <h1>@ViewBag.MENSAJE</h1>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <a class="button" href="/Noticias/insertar"><button class="btn btn-default btn-block">Insertar nuevo Video</button></a>
            </div>
            <div class="col-xs-12 col-sm-6">
                <a class="button" href="/Noticias/ver"><button class="btn btn-default btn-block">Ver Videos</button></a>
            </div>
        </div>

    </div>
</div>

