
@{
    ViewBag.Title = "Borrar";
}

<h2>Eliminacion de registro permanente.</h2>

<div>
    @if (!ViewBag.BORRADO )
    {
        <form method="post" action="" id="form-edit" title="Edit">
            <p class="message">
                Se va a borrar este registro:
            </p>
            <p>El ID es: </p>
            Id :<input type="text" name="id" id="id" value="@ViewBag.DATOS.IdEmpleado" placeholder="Id" disabled />
            Apellido :<input type="text" name="Apellido" id="Apellido" value="@ViewBag.DATOS.Apellido" placeholder="Apellido" disabled />
            Nombre :<input type="text" name="Nombre" id="Nombre" value="@ViewBag.DATOS.Nombre" placeholder="Nombre" disabled />
            <button type="submit">Borrar Empleado</button>


        </form>
    }
    else
    {
        <h2 class="success">
            Se ha borrado el registro satisfactoriamente.
        </h2>
    }
    <div class="container">
        <h5 class="info">
            @Html.ActionLink("Volver a buscar", "Index")
        </h5>

    </div>
</div>
